@import 'base.css';

.wrap{width: 100%; /*max-width: 1200px;*/ margin: auto;
background-color: white;}
html{
    background-color: rgb(247, 215, 215);
}

.big_wrap{
    width: 50%;
    margin: 2rem auto;
    border-radius:30px; 
}
.panel{
    background-color: rgb(0, 206, 185);
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}
    .panel > div{
        padding: 0.5rem;
    }
    .logo{
        float: left;
        color: #f1f1f1;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .logins{
        float: right;
    }
    #login_bt{
        display: none;
    }
    #logout_bt{
        display: none;
    }
    #user_email{
        color: azure;
        margin-right: 1rem;
    }

    .content{
        margin: 1rem;
    }
.wrs{
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
}
.wrs > li:first-child{
    float: left;
    width: calc(100% - 70px);
}
ul li span{
    float: right;
}
.wrs > li:last-child{
    float: right;
    text-align: right;
}
.gbook{
    margin-top: 1rem;
    /* box-shadow: 0 0 20px rgba(0,0,0,0.20); */
    /* border-radius: 20px; */
    padding: 1rem;
    /* border: 1px solid #ddd; */
    background-color: white;
}
.gbook>li:first-child{color:#999}
.gbook>li:nth-child(2){color:rgba(15,45,80);
 font-size: 1.25rem; background-color: rgb(0, 206, 185);
padding: 0.5rem;}
.gbook>li:last-child{padding: 0.5rem 0;}
.gbook .fas{color: #999; cursor: pointer; font-size: 0.875rem;}
.gbook .fas:hover{color: #f08;}

ul li i.fas{
    float: right;
    margin: 0 0.5rem;
}

